body{
    align-content: center;
    height: 340px;
    width: 400px;
    border-style: solid;
    border-color: blue;
    padding: 10px;
    margin: auto;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#fullname{
    width: 165px;
    height: 30px;
}
#email{
    width: 340px;
    height: 30px;
}
#subject{
    width: 347px;
    height: 30px;
}
textarea{
    width: 340px;
    height: 100px; 
}
button{
    background-color:rgb(13, 114, 148); 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}